<div class="container centered-content text-center-content">
    <h1>Profiles#edit</h1>
    <p>Find me in app/views/profiles/edit.html.erb</p>
    <input type="file" class="file-input file-input-bordered file-input-accent w-full max-w-xs" />
</div>