<div class="custom-container">
  <h1 class="text-2xl font-bold mb-4"><%= @user.name %>さん'sPAGE</h1>
    <%= display_profile_image(@user) %>
    <%= profile_content(@profile, @user) %>
    <%= link_to 'プロフィールを編集', edit_user_profile_path, class: 'btn btn-primary' %>
</div>