<main class="px-4 py-20 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-2xl sm:border-4 sm:border-black sm:p-4">

    <div id="tasks">
      <% @tasks.each do |task| %>
        <%= render task %>
        <p>
          <%= link_to "Show this task", task %>
        </p>
      <% end %>
    </div>
    <%= link_to "New task", new_task_path %>
  </div>
</main>

<div class="flex justify-center items-center space-x-2 py-6">
<% if @user %>
  <%= link_to "Chat Messages", user_chat_messages_path(@user), class: "btn btn-active" %>
<% else %>
  <p>No user found. Please log in.</p>
<% end %>
  <button class="btn btn-active btn-neutral">Neutral</button>
  <button class="btn btn-active btn-primary">Primary</button>
  <button class="btn btn-active btn-secondary">Secondary</button>
  <button class="btn btn-active btn-accent">Accent</button>
  <button class="btn btn-active btn-ghost">Ghost</button>
  <button class="btn btn-active btn-link">Link</button>
</div>

